
body {
    background: #ECEFF1;
    color: #777;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#banner {
    background: #0d3253;
    height: 450px;
    margin: 0;
    min-width: 500px;
    padding: 0;
    position: relative;
}

#argentina-sun {
    bottom: 0;
    left: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 250px;
}

#about-us {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

#about-us > h1  {
    text-align: center;
}

